<header class="header primary-color-bg">
    <nav class="navigation container">
        <div class="menu">
            <a href="/" class="link">
                <img class="scaled-image scaled-image-fixed" src="../images/logo.png" alt="Dr. Zdravozub"/>
            </a>
            <a href="/" class="link menu-item <%if (linkActive === 'home') {%>  link-active  <%}%>">Naslovnica</a>
            <a href="/dentists" class="link menu-item <%if (linkActive === 'dentists') {%>  link-active  <%}%>">Stomatolozi</a>
            <a href="/schedule" class="link menu-item <%if (linkActive === 'schedule') {%>  link-active  <%}%>">Termini</a>
            <a href="/history" class="link menu-item <%if (linkActive === 'history') {%>  link-active  <%}%>">Povijest zahvata</a>
        </div>
    </nav>
</header>