<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Oib</td>
            <td>Ime</td>
            <td>Prezime</td>
            <td>Email</td>
            <td>Mjesto</td>
            <td>Password</td>
            <td>DentistId</td>
            <td>PacientId</td>
            <td>isAdmin</td>
        </thead>
        <tr>
            <td><a class="id-table" href="./korisnik/single/<%=korisnik.oib%>"><%=korisnik.oib%></a></td>
            <td><input id="<%=korisnik.oib%>ime" type="text" value="<%=korisnik.ime%>"/></td>
            <td><input id="<%=korisnik.oib%>prezime" type="text" value="<%=korisnik.prezime%>"/></td>
            <td><input id="<%=korisnik.oib%>email" type="text" value="<%=korisnik.email%>"/></td>
            <td>
                <select name="mjesta" id="<%=korisnik.oib%>mjesto">
                    <%for(var sp of mjesta){%>
                        <option value="<%=sp.id%>" <%if(sp.id == korisnik.mjesto.id){%>selected="true"<%}%>  ><%=sp.pbrMjesta%>  <%=sp.naziv%></option>
                    <%}%>
                </select>
            </td>
            <td><input id="<%=korisnik.oib%>password" type="text" value="<%=korisnik.password%>"/></td>
            <td>
                <select name="stomatolozi" id="<%=korisnik.oib%>stomatolog">
                    <%for(var sp of stomatolozi){%>
                        <option value="<%=sp.id%>" <%if(sp.id == korisnik.dentistId){%>selected="true"<%}%>  ><%=sp.id%>  <%=sp.specijalizacija.naziv%></option>
                    <%}%>
                </select>
            </td>
            <td>
                <select name="pacijenti" id="<%=korisnik.oib%>pacijent">
                    <%for(var sp of pacijenti){%>
                        <option value="<%=sp.id%>" <%if(sp.id == korisnik.pacientId){%>selected="true"<%}%>  ><%=sp.id%> <%=sp.statusZuba%></option>
                    <%}%>
                </select>
            </td>
            <td><input id="<%=korisnik.oib%>isAdmin" type="text" value="<%=korisnik.isAdmin%>"/></td>
            <td><button onclick="updateItem(<%=korisnik.oib%>)">Update</button></td>
            <td><button onclick="deleteItem(<%=korisnik.oib%>)">Delete</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var ime = document.getElementById(id+"ime").value;
        var prezime = document.getElementById(id+"prezime").value;
        var email = document.getElementById(id+"email").value;
        var password = document.getElementById(id+"password").value;
        var mjesto = document.getElementById(id+"mjesto").value;
        var pacijent = document.getElementById(id+"pacijent").value;
        var stomatolog = document.getElementById(id+"stomatolog").value;
        var isAdmin = document.getElementById(id+"isAdmin").value;
        var data = {
            korisnik:{                
                oib:id,
                ime : ime,
                prezime : prezime,
                email : email,
                password : password,
                mjesto : mjesto,
                pacijent : pacijent,
                stomatolog : stomatolog,
                isAdmin : isAdmin,
            }
        }
        fetch('../action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./korisnik');
        });
    }
    function deleteItem(id){
        var data = {
            termin:{                
                oib:id,
            }
        }
        fetch('../action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./korisnik');
        });
    }
</script>