<div class="centered-container">
    <table>
        <thead>
            <td>Id</td>
            <td>Poštanski Broj</td>
            <td>Naziv</td>
        </thead>

        <tr>
            <td><%=mjesto.id%></td>
            <td><input id="<%=mjesto.id%>pbrMjesta" type="number" value="<%=mjesto.pbrMjesta%>"/></td>
            <td><input id="<%=mjesto.id%>naziv" type="text" value="<%=mjesto.naziv%>"/></td>
            <td><button onclick="updateItem(<%=mjesto.id%>)">Update</button></td>
            <td><button onclick="deleteItem(<%=mjesto.id%>)">Delete</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var pbrMjesta = document.getElementById(id+"pbrMjesta").value;
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            mjesto:{                
                id:id,
                pbrMjesta:pbrMjesta,
                naziv:naziv
            }
        }
        fetch('../action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./mjesto');
        });
    }
    function deleteItem(id){
        var pbrMjesta = document.getElementById(id+"pbrMjesta").value;
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            mjesto:{                
                id:id,
                pbrMjesta:pbrMjesta,
                naziv:naziv
            }
        }
        fetch('../action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./mjesto');
        });
    }
</script>