<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Id</td>
            <td>Poštanski Broj</td>
            <td>Naziv</td>
        </thead>
        <thead>
            <td><input id="searchid" type="number"></td>
            <td><input id="searchpbrMjesta" type="number"></td>
            <td><input id="searchnaziv" type="text"></td>
            <td><button onclick="search()">search</button></td>
        </thead>
        <%for(var m of mjesta){%>
            <tr>
                <td><a class="id-table" href="./mjesto/single/<%=m.id%>" class="id-table"><%=m.id%></a></td>
                <td><input id="<%=m.id%>pbrMjesta" type="number" value="<%=m.pbrMjesta%>"/></td>
                <td><input id="<%=m.id%>naziv" type="text" value="<%=m.naziv%>"/></td>
                <td><button onclick="updateItem(<%=m.id%>)">Update</button></td>
                <td><button onclick="deleteItem(<%=m.id%>)">Delete</button></td>
            </tr>
        <%}%>
        <tr>
            <td></td>
            <td><input id="createpbrMjesta" type="number"/></td>
            <td><input id="createnaziv" type="text"/></td>
            <td><button onclick="createItem()">Create</button></td>
        </tr>
    </table>
 </div>

 <script>
    function search(){
        var id = document.getElementById("search"+"id");
        var pbrMjesta = document.getElementById("search"+"pbrMjesta");
        var naziv = document.getElementById("search"+"naziv");
        var data = {
            id : id.value,
            pbrMjesta : pbrMjesta.value,
            naziv : naziv.value,

        }
        window.location.replace('mjesto?search='+JSON.stringify(data));
    }
    function updateItem(id){
        var pbrMjesta = document.getElementById(id+"pbrMjesta").value;
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            mjesto:{                
                id:id,
                pbrMjesta:pbrMjesta,
                naziv:naziv
            }
        }
        fetch('mjesto/action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./mjesto');
        });
    }
    function deleteItem(id){
        var pbrMjesta = document.getElementById(id+"pbrMjesta").value;
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            mjesto:{                
                id:id,
                pbrMjesta:pbrMjesta,
                naziv:naziv
            }
        }
        fetch('mjesto/action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./mjesto');
        });
    }
    function createItem(){
        var pbrMjesta = document.getElementById("create"+"pbrMjesta");
        var naziv = document.getElementById("create"+"naziv");
        var data = {
            mjesto:{                
                id:-1,
                pbrMjesta:pbrMjesta.value,
                naziv:naziv.value
            }
        }
        pbrMjesta.value="";
        naziv.value="";
        fetch('mjesto/action/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./mjesto');
        });
    }
</script>