<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Id</td>
            <td>Status zuba</td>
            <td>Broj Zahvata</td>
        </thead>

        <tr>
            <td><a href="./pacijent/<%=pacijent.id%>"><%=pacijent.id%></a></td>
            <td><input id="<%=pacijent.id%>statusZuba" type="text" value="<%=pacijent.statusZuba%>"/></td>
            <td><%=pacijent.zahvati.length%></td>
            <td><button onclick="updateItem(<%=pacijent.id%>)">Update</button></td>
            <td><button onclick="deleteItem(<%=pacijent.id%>)">Delete</button></td>
        </tr>
    </table>
    <table>
        <thead>
            <td>Serijski broj</td>
            <td>Datum</td>
            <td>Opis</td>
        </thead>

        <%for(var z of pacijent.zahvati){%>
            <tr>
                <td><a href="./zahvat/<%=z.serijskiBroj%>"><%=z.serijskiBroj%></a></td>
                <td><input id="zahvat<%=z.serijskiBroj%>datum" type="datetime-local" value="<%=z.datum.toISOString().slice(0, -1)%>"/></td>
                <td><input id="zahvat<%=z.serijskiBroj%>opis" type="text" value="<%=z.opis%>"/></td>
                <td><button onclick="updateZahvatItem(<%=z.serijskiBroj%>, <%=pacijent.id%>)">Update</button></td>
                <td><button onclick="deleteZahvatItem(<%=z.serijskiBroj%>)">Delete</button></td>
            </tr>
        <%}%>
        
        <tr>
            <td></td>
            <td><input id="createdatum" type="datetime-local"/></td>
            <td><input id="createopis" type="text"/></td>
            <td><button onclick="createZahvatItem(<%=pacijent.id%>)">Create</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var statusZuba = document.getElementById(id+"statusZuba").value;
        var data = {
            pacijent:{                
                id:id,
                statusZuba:statusZuba,
            }
        }
        fetch('../action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            console.log(res)
            window.location.replace('./pacijent');
        });
    }
    function deleteItem(id){
        var statusZuba = document.getElementById(id+"statusZuba").value;
        var data = {
            pacijent:{                
                id:id,
                statusZuba:statusZuba,
            }
        }
        fetch('../action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./pacijent');
        });
    }    

    function updateZahvatItem(id, idPacijenta){
        var datum = document.getElementById("zahvat"+id+"datum");
        var opis = document.getElementById("zahvat"+id+"opis");
        var data = {
            zahvat:{                
                id:id,
                desc:opis.value,
                date:datum.valueAsDate,
                pacientId:idPacijenta
            }
        }
        console.log(data.zahvat);
        fetch('../action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            console.log(res);
            window.location.replace('./<%=pacijent.id%>');
        });
    }
    function deleteZahvatItem(id){
        var data = {
            zahvat:{                
                id:id,
            }
        }
        fetch('../../zahvat/action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./<%=pacijent.id%>');
        });
    }

    function createZahvatItem(idPacijenta){
        var opis = document.getElementById("create"+"opis");
        var datum = document.getElementById("create"+"datum");
        var data = {
            zahvat:{                
                pacientId:idPacijenta,
                desc:opis.value,
                date:datum.value
            }
        }
        fetch('../../zahvat/action/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./<%=pacijent.id%>');
        });
    }
</script>