<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Id</td>
            <td>Status zuba</td>
            <td>Broj Zahvata</td>
        </thead>
        <%for(var p of pacijenti){%>
            <tr>
                <td><a  class="id-table" href="./pacijent/single/<%=p.id%>"><%=p.id%></a></td>
                <td><input id="<%=p.id%>statusZuba" type="text" value="<%=p.statusZuba%>"/></td>
                <td><%=p.zahvati.length%></td>
                <td><button onclick="updateItem(<%=p.id%>)">Update</button></td>
                <td><button onclick="deleteItem(<%=p.id%>)">Delete</button></td>
            </tr>
        <%}%>
        <tr>
            <td></td>
            <td><input id="createstatusZuba" type="text"/></td>
            <td></td>
            <td><button onclick="createItem()">Create</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var statusZuba = document.getElementById(id+"statusZuba").value;
        var data = {
            pacijent:{                
                id:id,
                statusZuba:statusZuba,
            }
        }
        fetch('pacijent/action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./pacijent');
        });
    }
    function deleteItem(id){
        var statusZuba = document.getElementById(id+"statusZuba").value;
        var data = {
            pacijent:{                
                id:id,
                statusZuba:statusZuba,
            }
        }
        fetch('pacijent/action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./pacijent');
        });
    }
    function createItem(){
        var statusZuba = document.getElementById("create"+"statusZuba");
        var data = {
            pacijent:{                
                id:-1,
                statusZuba:statusZuba.value,
            }
        }
        fetch('pacijent/action/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./pacijent');
        });
    }
</script>