<div class="centered-container">
    <table>
        <thead>
            <td>Id</td>
            <td>Naziv</td>
        </thead>

        <tr>
            <td><%=specijalizacija.id%></td>
             <td><input id="<%=specijalizacija.id%>naziv" type="text" value="<%=specijalizacija.naziv%>"/></td>
            <td><button onclick="updateItem(<%=specijalizacija.id%>)">Update</button></td>
            <td><button onclick="deleteItem(<%=specijalizacija.id%>)">Delete</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            specijalizacija:{                
                id:id,
                naziv:naziv
            }
        }
        fetch('../action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('..');
        });
    }
    function deleteItem(id){
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            specijalizacija:{                
                id:id,
                naziv:naziv
            }
        }
        fetch('../action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('..');
        });
    }
</script>