<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Id</td>
            <td>Specijalizacija</td>
        </thead>

        <tr>
            <td><a href="./stomatolog/<%=stomatolog.id%>"><%=stomatolog.id%></a></td>
            <td><select name="specijalizacije" id="<%=stomatolog.id%>specijalizacija">
                <%for(var sp of specijalizacije){%>
                    <option value="<%=sp.id%>" <%if(sp.id == stomatolog.specijalizacija.id){%>selected="true"<%}%>  ><%=sp.naziv%></option>
                <%}%>
            </select></td>
            <td><button onclick="updateItem(<%=stomatolog.id%>)">Update</button></td>
            <td><button onclick="deleteItem(<%=stomatolog.id%>)">Delete</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var specijalizacija = document.getElementById(id+"specijalizacija").value;
        var data = {
            stomatolog:{                
                id:id,
                specijalizacija:specijalizacija,
            }
        }
        fetch('../action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            console.log(res)
            window.location.replace('./stomatolog');
        });
    }
    function deleteItem(id){
        var specijalizacija = document.getElementById(id+"specijalizacija").value;
        var data = {
            stomatolog:{                
                id:id,
                specijalizacija:specijalizacija,
            }
        }
        fetch('../action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./stomatolog');
        });
    }    
    
</script>