<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td>Id</td>
            <td>Specijalizacija</td>
        </thead>
        <%for(var s of stomatolozi){%>
            <tr>
                <td><a href="./stomatolog/single/<%=s.id%>"><%=s.id%></a></td>
                <td>
                    <select name="specijalizacije" id="<%=s.id%>specijalizacija">
                        <%for(var sp of specijalizacije){%>
                            <option value="<%=sp.id%>" <%if(sp.id == s.specijalizacija.id){%>selected="true"<%}%>  ><%=sp.naziv%></option>
                        <%}%>
                    </select>
                </td>
                <td><button onclick="updateItem(<%=s.id%>)">Update</button></td>
                <td><button onclick="deleteItem(<%=s.id%>)">Delete</button></td>
            </tr>
        <%}%>
        <tr>
            <td></td>
            <td><select name="createspecijalizacija" id="createspecijalizacija">
                <%for(var sp of specijalizacije){%>
                    <option value="<%=sp.id%>"><%=sp.naziv%></option>
                <%}%>
            </select></td>
            <td></td>
            <td><button onclick="createItem()">Create</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var specijalizacija = document.getElementById(id+"specijalizacija").value;
        var data = {
            stomatolog:{                
                id:id,
                specijalizacija:specijalizacija,
            }
        }
        fetch('stomatolog/action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./stomatolog');
        });
    }
    function deleteItem(id){
        var specijalizacija = document.getElementById(id+"specijalizacija").value;
        var data = {
            stomatolog:{                
                id:id,
                specijalizacija:specijalizacija,
            }
        }
        fetch('stomatolog/action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./stomatolog');
        });
    }
    function createItem(){
        var specijalizacija = document.getElementById("create"+"specijalizacija").value;
        var data = {
            stomatolog:{                
                id:-1,
                specijalizacija:specijalizacija,
            }
        }
        fetch('stomatolog/action/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./stomatolog');
        });
    }
</script>