<div class="centered-container">
    <table>
        <thead>
            <td>Id</td>
            <td>Naziv</td>
            <td>Cijena</td>
        </thead>

        <tr>
            <td><%=tretman.id%></td>
            <td><input id="<%=tretman.id%>naziv" type="text" value="<%=tretman.naziv%>"/></td>
            <td><input id="<%=tretman.id%>cijena" type="number" value="<%=tretman.cijena%>"/></td>
            <td><button onclick="updateItem(<%=tretman.id%>)">Update</button></td>
            <td><button onclick="deleteItem(<%=tretman.id%>)">Delete</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var cijena = document.getElementById(id+"cijena").value;
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            tretman:{                
                id:id,
                cijena:cijena,
                naziv:naziv
            }
        }
        fetch('../action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./tretman');
        });
    }
    function deleteItem(id){
        var cijena = document.getElementById(id+"cijena").value;
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            tretman:{                
                id:id,
                cijena:cijena,
                naziv:naziv
            }
        }
        fetch('../action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./tretman');
        });
    }
</script>