<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td><a href="./zahvat?sort=serijskiBroj">Id</a></td>
            <td><a href="./zahvat?sort=datum">Naziv</a></td>
            <td><a href="./zahvat?sort=opis">Cijena</a></td>
        </thead>
        <thead>
            <td><input id="searchid" type="number"></td>
            <td><input id="searchnaziv" type="text"></td>
            <td><input id="searchcijena" type="number"></td>
            <td><button onclick="search()">search</button></td>
        </thead>
        <%for(var t of tretmani){%>
            <tr>
                <td><a class="id-table" href="./tretman/single/<%=t.id%>"><%=t.id%></a></td>
                <td><input id="<%=t.id%>naziv" type="text" value="<%=t.naziv%>"/></td>
                <td><input id="<%=t.id%>cijena" type="number" value="<%=t.cijena%>"/></td>
                <td><button onclick="updateItem(<%=t.id%>)">Update</button></td>
                <td><button onclick="deleteItem(<%=t.id%>)">Delete</button></td>
            </tr>
        <%}%>
        <tr>
            <td></td>
            <td><input id="createnaziv" type="text"/></td>
            <td><input id="createcijena" type="number"/></td>
            <td><button onclick="createItem()">Create</button></td>
        </tr>
    </table>
 </div>

 <script>
    function search(){

        var id = document.getElementById("search"+"id");
        var naziv = document.getElementById("search"+"naziv");
        var cijena = document.getElementById("search"+"cijena");
        var data = {
            id : id.value,
            naziv : naziv.value,
            cijena : cijena.value
        }
        window.location.replace('tretman?search='+JSON.stringify(data));
    }

    function updateItem(id){
        var cijena = document.getElementById(id+"cijena").value;
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            tretman:{                
                id:id,
                cijena:cijena,
                naziv:naziv
            }
        }
        fetch('tretman/action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./tretman');
        });
    }
    function deleteItem(id){
        var cijena = document.getElementById(id+"cijena").value;
        var naziv = document.getElementById(id+"naziv").value;
        var data = {
            tretman:{                
                id:id,
                cijena:cijena,
                naziv:naziv
            }
        }
        fetch('tretman/action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./tretman');
        });
    }
    function createItem(){
        var cijena = document.getElementById("create"+"cijena");
        var naziv = document.getElementById("create"+"naziv");
        var data = {
            tretman:{                
                id:-1,
                cijena:cijena.value,
                naziv:naziv.value
            }
        }
        cijena.value="";
        naziv.value="";
        fetch('tretman/action/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./tretman');
        });
    }
</script>