<div class="centered-container">
    <table>
        <thead>
            <td>Serijski broj</td>
            <td>Datum</td>
            <td>Opis</td>
            <td>Id pacijenta</td>
        </thead>


        <tr>
            <td><%=zahvat.serijskiBroj%></td>
            <td><input id="<%=zahvat.serijskiBroj%>datum" type="datetime-local" value="<%=zahvat.datum.toISOString().slice(0,-1)%>"/></td>
            <td><input id="<%=zahvat.serijskiBroj%>opis" type="text" value="<%=zahvat.opis%>"/></td>
            <td><input id="<%=zahvat.serijskiBroj%>idPacijenta" type="number" value="<%=zahvat.idPacijenta%>"/></td>
            <td><button onclick="updateItem(<%=zahvat.serijskiBroj%>)">Update</button></td>
            <td><button onclick="deleteItem(<%=zahvat.serijskiBroj%>)">Delete</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var datum = document.getElementById(id+"datum");
        var opis = document.getElementById(id+"opis");
        var idPacijenta = document.getElementById(id+"idPacijenta");
        var data = {
            zahvat:{                
                id:id,
                desc:opis.value,
                date:datum.valueAsDate,
                pacientId:idPacijenta.value
            }
        }
        fetch('../action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./zahvat');
        });
    }
    function deleteItem(id){
        var data = {
            zahvat:{                
                id:id,
            }
        }
        fetch('../action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./zahvat');
        });
    }
</script>