<div class="centered-container">
    <%if(error){%>
        <p><%=error%></p>
    <%}%>
    <table>
        <thead>
            <td><a href="./zahvat?sort=serijskiBroj&asc=<%=nextOrder%>">Serijski broj</a></td>
            <td><a href="./zahvat?sort=datum&asc=<%=nextOrder%>">Datum</a></td>
            <td><a href="./zahvat?sort=opis&asc=<%=nextOrder%>">Opis</a></td>
            <td><a href="./zahvat?sort=idPacijenta&asc=<%=nextOrder%>">Id pacijenta</a></td>
        </thead>
        <thead>
            <td><input id="searchserijskiBroj" type="number"></td>
            <td><input id="searchdatum" type="date"></td>
            <td><input id="searchopis" type="text"></td>
            <td><input id="searchidPacijenta" type="number"></td>
            <td><button onclick="search()">search</button></td>
        </thead>
        <%for(var z of zahvati){%>
            <tr>
                <td><a class="id-table" href="./zahvat/single/<%=z.serijskiBroj%>"><%=z.serijskiBroj%></a></td>
                <td><input id="<%=z.serijskiBroj%>datum" type="datetime-local" value="<%=z.datum.toISOString().slice(0, -1)%>"/></td>
                <td><input id="<%=z.serijskiBroj%>opis" type="text" value="<%=z.opis%>"/></td>
                <td><input id="<%=z.serijskiBroj%>idPacijenta" type="text" value="<%=z.idPacijenta%>"/></td>
                <td><button onclick="updateItem(<%=z.serijskiBroj%>)">Update</button></td>
                <td><button onclick="deleteItem(<%=z.serijskiBroj%>)">Delete</button></td>
            </tr>
        <%}%>
        
        <tr>
            <td></td>
            <td><input id="createdatum" type="datetime-local"/></td>
            <td><input id="createopis" type="text"/></td>
            <td>
              <select name="pacijenti" id="createidPacijenta">
                <%for(var p of pacijenti){%>
                    <option value="<%=p.id%>"><%=p.id%> <%=p.statusZuba%></option>>
                <%}%>
                </select></td>
            <td><button onclick="createItem()">Create</button></td>
        </tr>
    </table>
 </div>

 <script>
    function updateItem(id){
        var date = document.getElementById(id+"datum").valueAsDate;
        var desc = document.getElementById(id+"opis").value;
        var pacientId = document.getElementById(id+"idPacijenta").value;

        var data = {
            zahvat:{          
                id:id,      
                date:date,
                desc:desc,
                pacientId:pacientId
            }
        }
        fetch('zahvat/action/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./zahvat');
        });
    }
    function deleteItem(id){

        var data = {
            zahvat:{                
                id:id
            }
        }
        fetch('zahvat/action/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{

            window.location.replace('./zahvat');
        });
    }
    function createItem(){
        var opis = document.getElementById("create"+"opis");
        var idPacijenta = document.getElementById("create"+"idPacijenta");
        var datum = document.getElementById("create"+"datum");
        var data = {
            zahvat:{                
                pacientId:idPacijenta.value,
                desc:opis.value,
                date:datum.value
            }
        }
        fetch('zahvat/action/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res=>{
            window.location.replace('./zahvat');
        });
    }

    function search(){
        var serijskiBroj = document.getElementById("search"+"serijskiBroj");
        var datum = document.getElementById("search"+"datum");
        var opis = document.getElementById("search"+"opis");
        var idPacijenta = document.getElementById("search"+"idPacijenta");
        var data = {
            serijskiBroj : serijskiBroj.value,
            datum : (datum.valueAsDate!=null)?datum.valueAsDate:'',
            opis : opis.value,
            idPacijenta : idPacijenta.value
        }
        window.location.replace('zahvat?search='+JSON.stringify(data));
    }
</script>