<!DOCTYPE html>
<html>

<head>
    <title>Dr. Zdravozub - Termini</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/vendor/normalize.css">
</head>

<body class="content">
    <%- include(`partials/adminHeader`); %>
    <main class="main">
        <section class="section box-title secondary-color-bg">
            <div class="container">
                <div class="centered-container">
                    <h2 class="font-title"><%=activeTable.title%></h2>
                </div>
            </div>
        </section>
        <section class="section box-content primary-color-bg">
            <div class="container">
                <div class="centered-container">
                    <% switch(activeTable.code) {
                        case 'mjesto':{%><%- include(`partials/mjestoTable`); %><%};break;
                        case 'mjestoSingle':{%><%- include(`partials/mjestoSingle`); %><%};break;
                        case 'zahvat':{%><%- include(`partials/zahvatTable`); %><%};break;
                        case 'zahvatSingle':{%><%- include(`partials/zahvatSingle`); %><%};break;
                        case 'pacijent':{%><%- include(`partials/pacijentTable`); %><%};break;
                        case 'pacijentSingle':{%><%- include(`partials/pacijentSingle`); %><%};break;
                        case 'specijalizacija':{%><%- include(`partials/specijalizacijaTable`); %><%};break;
                        case 'specijalizacijaSingle':{%><%- include(`partials/specijalizacijaSingle`); %><%};break;
                        case 'stomatolog':{%><%- include(`partials/stomatologTable`); %><%};break;
                        case 'stomatologSingle':{%><%- include(`partials/stomatologSingle`); %><%};break;
                        case 'tretman':{%><%- include(`partials/tretmanTable`); %><%};break;
                        case 'tretmanSingle':{%><%- include(`partials/tretmanSingle`); %><%};break;
                        case 'termin':{%><%- include(`partials/terminTable`); %><%};break;
                        case 'terminSingle':{%><%- include(`partials/terminSingle`); %><%};break;
                        case 'korisnik':{%><%- include(`partials/korisnikTable`); %><%};break;
                        case 'korisnikSingle':{%><%- include(`partials/korisnikSingle`); %><%};break;
                        default:{%><%- include(`partials/registrations`); %><%};break;
                    }
                    %>
                </div>
            </div>
        </section>
    </main>
    <%- include(`partials/footer`); %>
</body>
</html>