@font-face {
    font-family: 'Crimson Pro';
    src: url("../fonts/CrimsonPro-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url("../fonts/CrimsonPro-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url("../fonts/CrimsonPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url("../fonts/CrimsonPro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url("../fonts/CrimsonPro-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url("../fonts/CrimsonPro-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url("../fonts/CrimsonPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url("../fonts/CrimsonPro-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url("../fonts/CrimsonPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url("../fonts/CrimsonPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.primary-color-bg {
    background-color: #d5e8ff;
}

.secondary-color-bg {
    background-color: #c6d9f0;
}

.content {
    color: #313131;
    font-family: 'Crimson Pro', serif;
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

.main {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.main-color {
    color: #b8d7db;
}

.main-color-emphasized {
    color: #8aa7c9;
}

.font-secondary {
    font-family: 'Crimson Pro', cursive;
}

.section {
    overflow: auto;
    display: flex;
}

.container {
    margin: auto;
    width: 700px;
}

.container-grid {
    display: grid;
    grid-gap: 20px;
}

.navigation {
    padding: 10px;
}

.centered-container {
    text-align: center;
    padding: 10px;
}

.container-floated {
    float: left;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
}

.link {
    color: #8ed1ee;
    text-decoration: none;
    outline: none;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-distributed {
    justify-content: space-around;
}

.menu-item {
    text-transform: uppercase;
    padding: 20px;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-title {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.scaled-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.scaled-image-fixed {
    display: block;
    width: 200px;
}

.badge-image {
    width: auto;
    height: 150px;
    float: right;
}

.news-title {
    font-size: 30px;
}

.infobox {
    padding-left: 40px;
    background-position: top left;
    background-size: 30px auto;
    background-repeat: no-repeat;
    margin: 0 0 0.5em 0;
    overflow: auto;
}

.infobox-marginless {
    margin-bottom: 0;
}

.infobox-title {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.infobox-subtitle {
    margin: 0.5em 0 0.5em 0;
}

.infobox-content {
    margin: 0 0.5em;
}

.infobox-link {
    margin: 0 0.5em;
}

.infobox-title-secondary-color {
    color: #ffffff;
}

.photo-box {
    text-align: center;
    margin-bottom: 20px;
}

.photo-box-title {
    font-size: 30px;
}

.photo-box-title {
    font-size: 30px;
}

.photo-box-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: auto;
}

.cart-box-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: auto;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1em;
}

.cart-gallery {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    grid-row-gap: 20px;
}

.cart-row {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
    margin-bottom: 1em;
    grid-column-gap: 10px;
}


.link:hover {
    color: #1489bb;
}

.link-active {
    color: #26a9e1;
}

.submitButtons {
    text-align: center;
}

.deleteTextButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fieldset {
    background-color: #f7f7f7;
    padding: 5px;
    border-color: #ab4f8b;
    margin: 10px;
}

.label-input {
    padding: 5px;
    font-family: 'Crimson Pro', serif;
}

label {
    width: 110px;
    display: inline-block;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .box-title, .header, .footer{
    flex: 0 1 auto;
}

.box .box-content{
    flex: 1 1 auto;
}

button {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #1489bb;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: white;
}

.font-title {
    font-weight: bold;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form-field {
    border: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.login-form-file {
    border: none;
    margin-bottom: 10px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

#login-form-submit, #login-dentist-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #1489bb;
    cursor: pointer;
    outline: none;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

.id-table {
    color: #1489bb
}

.button-frontpage {
    width: 30%
}

table, th, td {
    border:1px solid #1489bb;
    border-collapse: collapse;
}

thead {
    background-color: #8ed1ee;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 80%;
}

.vl {
    border-left: 1px solid white;
    height: 300px;
    margin-top: auto;
}